<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamttdvlp.memolang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".di.MemoLang"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_WithSplashScreen">

        <service
            android:name=".view.customview.floating_library.FloatingAddServiceManager$FloatAddService"
            android:enabled="true"
            android:exported="true" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ReviewFlashcardActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".view.activity.EngVietDictionaryActivity" />
        <activity android:name=".view.activity.SearchEngVNDictionaryActivity" />
        <activity android:name=".view.activity.ViewFlashcardSetActivity" />
        <activity android:name=".view.activity.AddFlashcardActivity" />
        <activity
            android:name=".view.activity.RetrofitAddFlashcardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.MenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activity.ViewFlashCardListActivity" /> <!-- <activity android:name=".view.activity.SearchEditFlashcardActivity" /> -->
        <activity android:name=".view.activity.SearchOnlineActivity" />
        <activity android:name=".view.activity.ResultReportActivity" />
        <activity android:name=".view.activity.UseFlashcardActivity" />
        <activity android:name=".view.activity.ReviewFlashcardEasyActivity" />
        <activity android:name=".view.activity.SetUpAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>