<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamttdvlp.memolang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".di.MemoLang"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_WithSplashScreen"
        android:windowSoftInputMode="adjustNothing">
<!--        <activity android:name=".view.activity.ReviewFlashcardEasyActivity"></activity>-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.ReviewFlashcardActivity" />
        <activity android:name=".view.activity.SeeVocabularyActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.activity.SearchEngVNDictionaryActivity" />
        <activity android:name=".view.activity.ViewFlashcardSetActivity" />
        <activity android:name=".view.activity.AddFlashcardActivity" />
        <activity android:name=".view.activity.EditFlashcardActivity" />
        <activity android:name=".view.activity.MenuActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.activity.ViewFlashCardListActivity" />
<!--        <activity android:name=".view.activity.SearchEditFlashcardActivity" />-->
        <activity android:name=".view.activity.SearchOnlineActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".view.activity.UseFlashcardDoneActivity" />
        <activity android:name=".view.activity.UseFlashcardActivity" />
        <activity android:name=".view.activity.ReviewFlashcardEasyActivity" />
        <activity android:name=".view.activity.SetUpAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>